.header{
    width: auto;
    height: 100px;;
    display: flex;
    font-size: 18px;
    
    color: #e5e7eb;
    background-color: #1F2937;
    gap: 32px;
    
}

.headerlogo{
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    margin: 8px auto 0 256px;
    
}
.link3{
    margin-right: 256px;
}
.link1, .link2, .link3{
    margin-top: 8px;
}
.container1{
    width: auto;
    height: 300px;
    background-color: #1F2937;
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
}
.heromain{
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    font-weight:bolder;
    font-size: 48px;
    color: #F9FAF8;
    margin-left: 256px;
    margin-bottom: 8px;

}
.herosecondary{
    display: flex;
    width: 360px;
    flex-wrap: wrap;
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 256px;
    margin-bottom: 8px;
}
.signup{
    display: flex;
    margin-left: 256px;
    width: 128px;
    height: 35px;
    border-radius: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.imageholder{
    display: flex;
    margin-right: 256px;
    height: 200px;
    width: 3600px;
    justify-content: center;
    align-items: center;
    color:#F9FAF8;
    background-color: gray;        
}
.header_body{
    display: flex;
    justify-content: flex-end;
    gap: 64px;
    background-color: #1F2937;
}
.text1{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 32px;
}
.randombox{
    display: flex;
    justify-content: center;    
    gap: 12px;
    border-color: #3882F6;
}
.box{
    width: 60px;
    height: 60px;
    border: 5px solid #3882F6;
    border-radius: 25px;
    margin: 20px;
    padding: 50px;
    background-color:white;
}
.randomtext{
    display: flex;
    justify-content: center;    
    gap: 90px;
    margin-bottom: 100px;
}
.text{
    width: 130px;
    height: 60px;
    border: 5px #3882F6;
    border-radius: 25px;
    background-color:white;
    text-align: center;
}
.quotebox{
    width: auto;
    height: 300px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quotetext{
    color:#1F2937;
    margin: 0 0 0 350px;
    font-size: 36px;
    font-style: italic;
    width: 750px;
}
.quote{
    color:#1F2937;
    margin: 0 350px 0 auto; 
    font-weight: bolder;

}
.whitebox{
    width: auto;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bluebox{
    display: flex;
    width: 800px;
    height: 125px;;
    background-color: #3882F6;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.text2{
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 18px;
}
.text3{
    color:#e5e7eb;
}
.signup2{
    
    display: flex;
    width: 128px;
    height: 35px;
    border-radius: 10px;
    border-style: solid;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.footer{
    background-color: #1F2937;
    width: auto;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text4{
    color: #e5e7eb;
}